footer {
  background-color: $brand-blue;
  padding-top: 4.9rem;
  .container {
    border-bottom: 4px solid $brand-yellow;
    .top {
      @include flex(row, center, space-between);
      border-bottom: 1px solid rgba(73, 196, 253, 0.2);
      padding-bottom: 4.8rem;
      margin-bottom: 5.7rem;
      .share {
        display: flex;
        align-items: center;
        gap: 3rem;
        span {
          font-size: 1.4rem;
          line-height: 1.25;
          color: #ffffff;
          opacity: 0.7;
        }
        ul {
          display: flex;
          align-items: center;
          gap: 3rem;
        }
      }
    }
    .main {
      @include flex(row, flex-start, space-between);
      border-bottom: 1px solid rgba(73, 196, 253, 0.2);
      padding-bottom: 6.2rem;
      margin-bottom: 3.9rem;
      nav {
        width: 100%;
        max-width: 86rem;
        @include flex(row, flex-start, space-between);
        strong {
          font-family: "Poppins", sans-serif;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.25;
          color: #ffffff;
          display: inline-block;
          margin-bottom: 2.5rem;
        }
        ul {
          li {
            &:not(:last-child) {
              margin-bottom: 2.9rem;
            }
            a {
              font-size: 1.4rem;
              line-height: 1.7rem;
              color: #ffffff;
              opacity: 0.7;
              transition: all 0.3s ease;
              &:hover {
                color: $brand-yellow;
                opacity: 1;
              }
            }
          }
        }
      }
      .btns {
        width: 100%;
        max-width: 28rem;
        button {
          width: 100%;
          height: 7.6rem;
          background-color: rgba(0, 164, 240, 0.23);
          border-radius: 6px;
          display: flex;
          align-items: center;
          gap: 2.4rem;
          padding-left: 2.5rem;
          &:not(:last-child) {
            margin-bottom: 2.4rem;
          }
          .info {
            strong {
              display: block;
              text-align: left;
              font-size: 1.4rem;
              font-weight: bold;
              line-height: 1.5;
              color: #ffffff;
            }
            span {
              display: block;
              font-size: 1.4rem;
              line-height: 1.5;
              color: #ffffff;
            }
          }
        }
      }
    }
    .mensagem {
      display: flex;
      align-items: center;
      gap: 2.5rem;
      padding-bottom: 3.4rem;
      .icon {
        font-size: 1.8rem;
      }
      p {
        width: 100%;
        max-width: 66rem;
        font-size: 1.4rem;
        line-height: 1.5;
        color: #ffffff;
        opacity: 0.8;
      }
    }
  }
  @include responsive(1050px) {
    .container {
      .main {
        nav {
          max-width: 76rem;
        }
      }
    }
  }
  @include responsive(991px) {
    .container {
      .main {
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 3.6rem;
        margin-bottom: 3.2rem;
        nav {
          width: 100%;
          flex-wrap: wrap;
          justify-content: flex-start;
          .item {
            width: 33.3%;
            margin-bottom: 5rem;
          }
        }
        .btns {
          position: absolute;
          right: 0;
          bottom: 135px;
        }
      }
      .mensagem {
        flex-direction: column;
        gap: 1.2rem;
        p {
          text-align: center;
        }
      }
    }
  }
  @include responsive(600px) {
    .container {
      .main {
        margin-bottom: 3rem;
        .btns {
          max-width: 25rem;
          button {
            img {
              display: none;
            }
          }
        }
      }
    }
  }
  @include responsive(480px) {
    .container {
      .top {
        flex-direction: column;
        padding-bottom: 1.1rem;
        margin-bottom: 5.2rem;
        img {
          margin-bottom: 3.2rem;
        }
        .share {
          flex-direction: column;
          gap: 2rem;
        }
      }
      .main {
        nav {
          .item {
            width: 50%;
            margin-bottom: 5.3rem;
          }
        }
        .btns {
          bottom: 0;
          position: relative;
          max-width: 100%;
          button {
            padding-left: 0;
            justify-content: center;
            .info {
              strong,
              span {
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}
